<div class="moj-identity-bar">
  <div class="govuk-width-container">

    <div class="moj-identity-bar__details">
      {{ govukBackLink({
        text: 'Back to your applications',
        href: 'select-application',
        classes: 'govuk-!-margin-0'
      }) }}
    </div>
    <div class="moj-identity-bar__details" style="float: right; margin: 0">
      <span class="moj-identity-bar__title">
        <dt>Reference:</dt>
          <dd>A456BCD</dd>
        <dt>Title:</dt>
          <dd>BGL109002</dd>
      </span>
    </div>

  </div>
</div>
