{% extends "layout.html" %}
{%- set htmlClasses = 'app-width-wide' -%}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half govuk-!-padding-right-9">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-1">
        Check the documents are correct
      </h1>
      <p class="govuk-!-margin-bottom-6"><a href="#0" class="govuk-link--no-visited-state">Open all documents</a> and answer the following questions.</p>

      {{ govukRadios({
        idPrefix: 'address-match',
        name: 'address-match',
        classes: 'govuk-radios--small',
        fieldset: {
          legend: {
            text: ' Do the documents have the same property address and title number as the register?',
            isPageHeading: false,
            classes: 'govuk-fieldset__legend--s'
          }
        },
        items: [
          {
            html: 'Yes',
            value: 'Yes',
            checked: checked('address-match','Yes')
          },
          {
            html: 'No',
            value: 'No',
            checked: checked('address-match','No')
          }
        ]
      }) }}


      {{ govukRadios({
        idPrefix: 'customer-match',
        name: 'customer-match',
        classes: 'govuk-radios--small',
        fieldset: {
          legend: {
            text: 'Do the following customer details match those in the AP1?',
            isPageHeading: false,
            classes: 'govuk-fieldset__legend--s'
          }
        },
        hint: {
          html: '
          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-inset-text govuk-!-width-two-thirds govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-!-padding-top-0 govuk-!-padding-bottom-2">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">
                Names
              </dt>
              <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
                <ul class="govuk-list">
                  <li>Jim Armstrong</li>
                  <li>Willow Armstrong</li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">
                Key number
              </dt>
              <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
                987654321
              </dd>
            </div>
          </dl>
          '
        },
        items: [
          {
            html: 'Yes',
            value: 'Yes',
            checked: checked('customer-match','Yes')
          },
          {
            html: 'No',
            value: 'No',
            checked: checked('customer-match','No')
          }
        ]
      }) }}

      {{ govukButton({
        html: 'Continue'
      }) }}
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Register
      </h2>

      {% set regA %}
        <ol class="govuk-list govuk-list--number register-list">
          <div class="register-line-container">
            <span class="register-line">
              DORSET
            </span>
          </div>
          <li>
            (19.09.2008) The Freehold land shown edged with red on the plan of the above title filed at the Registry and being 245 Apsen Rowans, Swasils, Dorset BA22 2QC.
          </li>
          <li>
            (19.09.2008) The land was formerly copyhold of the Manor of Barringtons and on the enfranchisement thereof there were reserved the mines, minerals and other rights referred to in section 23 of the Copyhold Act 1894. This registration takes effect subject to such reservation.
          </li>
        </ol>
      {% endset -%}




      {% set regB %}
        <ol class="govuk-list govuk-list--number register-list">
          <li>
            (11.06.2012) PROPRIETOR: %CHANDLER AIDEN WOODSTOMP% and %MARGUERITTE HOPE WOODSTOMP% of 245 Aspen Rowans, Swaslis, *Dorset* BA22 2QC.
          </li>
          <li>
            (11.06.2012) The price stated to have been paid on 24 May 2012 was £93,000.
          </li>
        </ol>
      {% endset -%}




      {% set regC %}
        <ol class="govuk-list govuk-list--number register-list">
          <li>
            (11.06.2012) REGISTERED CHARGE dated 24 May 2012.
          </li>
          <li>
            (11.06.2012) Proprietor: #LANDMARK MORTGAGES LIMITED# (Co. Regn. No. 3273685) of Admiral House, Harlington Way, Fleet, Hampshire GU51 4YA.
          </li>
        </ol>
      {% endset -%}



      {{ govukAccordion({
        id: 'accordion-default',
        headingLevel: 3,
        items: [
          {
            heading: {
              html: '<span class="govuk-!-font-size-19">A: Property register</span>'
            },
            content: {
              html: regA
            },
            expanded: true
          },
          {
            heading: {
              html: '<span class="govuk-!-font-size-19">B: Proprietorship register</span>'
            },
            content: {
              html: regB
            },
            expanded: true
          },
          {
            heading: {
              html: '<span class="govuk-!-font-size-19">C: Charges register</span>'
            },
            content: {
              html: regC
            }
          }
        ]
      }) }}
    </div>

  </div>

{% endblock %}
